#log {
	font-family: monospace;
	font-size: 1.1em;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	border-radius: 5px;
}

#top-bar {
	display: grid;
	grid-template-columns: 5fr 1fr 1fr;	
}

#title {
	font-size: 1.3em;
	margin: 5px;
	font-weight: bold;
}

.button {
	background-color: rgb(194, 224, 255);
	margin: 5px;
}

.button:hover {
	background-color: khaki;
}

#sort-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin: 10px 0 10px 0;
}

.asteroid {
	font-size: 0.9em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.asteroid-databox {
	margin: 5px;
	text-align: center;
}

.asteroid-title {
	font-weight: bold;
	padding: 4px;
}

.asteroid-data {
	font-size: 0.9em;
	padding: 4px;
}

.cell-colour {
	background-color: rgb(233, 255, 254);
}

.cell-highlight {
	background-color: rgb(255, 198, 198);
}

.sort-button {
	cursor: pointer;
}

.sort-button:hover {
	background-color: khaki;
}